---
layout: default
description: The personal blog of Sam Stokes.
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% unless post.sitemap == false %}
      {% assign content = post.content %}
        <article>
          {% include article.html %}
        </article>
    {% endunless %}
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
{% include sidebar.html %}
