// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.gist .gist-file .gist-meta a[href*="#file"] {
  right: 0; // override -10px for some reason
}

.gist .gist-file .highlight {
  width: 100%;
}

ol, ul {
  list-style-position: inside;
}

article {
  figure {
    @include shadow-box;

    img {
      border: 0;
    }

    figcaption {
      font-size: 0.8em;
      text-align: center;
      color: $caption-color;
    }

    &.figure-example {
      @extend .sans;
      font-size: 80%;
      max-width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
    }

    &.figure-right {
      float: right;
      max-width: 30%;
    }
  }
}
