// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

.gist .gist-file .gist-meta a[href*="#file"] {
  right: 0; // override -10px for some reason
}

.gist .gist-file .highlight {
  width: 100%;
}

ol, ul {
  list-style-position: inside;
}
